/* Grundopsætning for hele siden */
body {
  font-family: Arial, sans-serif; 
  margin: 0;                      
  padding: 0;                     
  background-color: #f0f8ff;     
}

/* Øverste bjælke med faner */
.tabs {
  display: flex;          
  background: #0077cc;    
  padding: 10px;          
}

/* Udseende for hver fane */
.tab {
  padding: 10px 20px;     
  margin-right: 10px;     
  background: #66aaff;    
  border-radius: 5px;     
  color: white;           
  cursor: pointer;        
}

/* Når musen holdes over en fane */
.tab:hover {
  background: #5599dd;   
}

/* Den aktive fane */
.tab.active {
  background: #004c99;    
}

/* Indholdet under fanerne */
.content {
  display: none;          
  padding: 20px;          
  background: white;      
  border-top: none;       
}

/* Den aktive fanes indhold vises */
.content.active {
  display: block;         
}

/* Overskrifterne */
.visuel-heading {
  font-size: 2.5em;       
  font-weight: bold;      
  color: #333;            
  margin-bottom: 10px;    
  text-align: center;     
}

/* Underoverskrifterne */
.visuel-subheading{
  font-size: 1.2em;      
  color: #666;            
  margin-bottom: 20px;    
  text-align: center;     
}

/* forsidebilledet */
.forsidebillede {
  width: 1000px;           
  height: auto;           
  display: block;         
  margin: 20px auto;      
  border-radius: 8px;     
}
.content h2, .content h3 {
  margin-top: 1.5rem;
  font-weight: bold;
  
}

.content ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.content li {
  margin-bottom: 0.5rem;
}

/* bla. til placering af knapperne */
#quiz-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
#quiz-container img {
  max-width: 100%;
  height: auto;
}
.answers button {
  display: block;
  margin: 10px auto;
  padding: 16px 32px;
  font-size: 1.4em;
}
#next-button {
  margin-top: 20px;
  padding: 16px 32px;
  font-size: 1em;
}
#scoreboard {
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
}